<h4>edit <%= @recipe.title%></h4>

<%= render 'form' %>

<div class="right clear rounded alpha50black padded margin30">
  
  <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', recipes_path %>
</div>
