
<h3>recipes</h3>

  
<% @recipes.each do |recipe| %>

  <article class="left box">
    <h4><%= link_to recipe.title, recipe %></h4>
    <%= image_tag recipe.recipe_image.thumb.url class: "left" %>
    <% if can? :update, @recipe %>
      <div >
      <%= link_to 'Edit', edit_recipe_path(recipe), class: "rounded alpha50black padded"%>
      </div>
    <% end %>
  </article>
<% end %>

<% if can? :create, @recipe %>
<%= link_to 'New Recipe', new_recipe_path %>
<% end %>


