<h3>ingredients</h3>

<ul>
<% @ingredients.each do |ingredient| %>
  
    <li><%=link_to ingredient.name, ingredient %></li>
    
    <% if can? :update, @ingredient %>
    <li><%= link_to 'Edit', edit_ingredient_path(ingredient) %></li>
    <li><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    
  </ul>
  <% end %>
<% end %>



<%= link_to 'New Ingredient', new_ingredient_path %>
