<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<% if can? :update, @ingredient %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<% end %>
<%= link_to 'Back', ingredients_path %>
