<h1>My cookbook</h1>

<%= search_form_for @q, url: search_path, html: {method: :post} do |f| %>
      <p>
        <%= f.label :title_cont, 'Search by title' %>
        <%= f.text_field :title_cont %>
      </p>
      <p>
        
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>







